<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<Link rel="ICON" href="__ROOT__/LG_small.png">
	<script src="__PUBLIC__/js/CWJS/DefaultJs.js" language="JavaScript"></script> 
	
	<script>
		function LoginOff(){
			location.href = "__MODULE__/Home/LoginOff";
		};
		function ChangePassword(){
			location.href = "__MODULE__/Personinfo/ChangePassword";
		};
	</script>   
</head>
<body>
	<div class="header">
		<div class="headerleft">
			<img src="/LG_ThinkPHP/Application/Public/js/Layout/img/logo.png" style="height:54px;margin-top:2px;" alt="XXX管理系统" />
		</div>
		<div class="headerright" id="exit" onclick="LoginOff()" title="退出">
			<span></span>
		</div>
		<div class="headerright" id="CP" onclick="ChangePassword()" title="仅限工作人员和管理员">
			密码修改
		</div>
		<div class="headerright" title="角色">
			<?php echo '角色：'; echo "管理员";?>       
		</div>
		<div class="headerright" title="当前用户">
			<?php echo "当前用户："; echo session('UserName');?>    <!--6.cookie + php echo-->
		</div>
	</div>
	<div class="background">
		<div class="nav"> 　
			<div class="easyui-accordion" data-options="multiple:true" style="width:300px;height1:300px;">
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
				<div title="用户信息管理" style="overflow:auto;padding:10px;">
					<ul>
					<li><a href="__MODULE__/UserManage/AddUser">添加用户</a></li>
						<li><a href='__MODULE__/UserManage/UserManage'>用户管理</a></li>
					<li><a href='__MODULE__/UserManage/CommonUserInfo'>常用成员信息</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">          
			<div class="content">
				<div style="">
					<div><h1>{$tip0}</h1></div><br />
					<div><h2>{$tip}：</h2></div><br />
							{__CONTENT__}
				</div>
			</div>
		</div>
		<div class="footer">Powered By ChinaWit  © 2016-2016  京ICP备00000000号</div>
	</div>
</body>
</html>