
<table cellpadding="5" cellspacing="15">
    <tr>
        <td>用户昵称：</td>
        <td><input class="easyui-textbox" type="text" id="Tel" name="Tel" /></td>
    </tr>
    <tr>
        <td>用户密码：</td>
        <td><input class="easyui-textbox" type="text" id="Tel" name="Tel" /></td>
    </tr>
    <tr>
        <td>用户电话：</td>
        <td><input class="easyui-textbox" type="text" id="Tel" name="Tel" /></td>
    </tr>
    <tr>
        <td>所属角色：</td>
        <td>
            <select class="easyui-combobox" name="role" id="role" style="width:152px;" data-options='editable: false'>
                <option value="0">XX员</option>
                <option value="1">管理员</option>
                <option value="2">超级管理员</option>
            </select>
        </td>	
    </tr>
    <tr>
        <td>真实姓名：</td>
        <td><input class="easyui-textbox" type="text" id="Tel" name="Tel" /></td>
    </tr>
    <tr>
        <td>Email：</td>
        <td><input class="easyui-textbox" type="text" id="Tel" name="Tel" /></td>
    </tr>
</table>

<div style="margin-left:100px">
  <a href="javascript:void(0)" style="width:100px;" class="easyui-linkbutton" onclick="Add()">添加</a>
</div>
</table>
