<form id="fm" method="post">
  <table cellpadding="5" cellspacing="15">
     <tr>
         <td>旧密码：</td>
         <td><input class="easyui-textbox" type="text" id="Name" name="Name" /></td>
     </tr>
     <tr>
        <td >新密码：</td>
        <td ><input class="easyui-textbox" type="text" id="Name" name="Name" /></td>
    </tr>
    <tr>
        <td >确认新密码：</td>
        <td ><input class="easyui-textbox" type="text" id="Name" name="Name" /></td>
    </tr>
</table>
<div style="margin-left:100px">
<a href="javascript:void(0)" style="width:100px;" class="easyui-linkbutton" onclick="Change()">修改密码</a>
</div>
</form>

<script>
    //TODO
    //数据库操作
    function Change () {
         //TODO
    }
</script>
